/* 
colour palette: 
#86bbd8
#ffebcd
#2f4858

font:

*/

::-webkit-scrollbar {
    display: none;
}

html {
    background-color: #ffebcd;
    font-family: 'Raleway', sans-serif;
}

header {
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
    background-color: #2f4858;
    background-image: url("../media/desert.jpg");
}

#circleimg {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 0.5%;
    width: 40%;
    background-color: white;
    margin: 0 2% 0 2%;
}

html, body {
    height: 100%;
    margin: 0;
}

#wrapper{
    min-height: 103%;
}

header div {
    padding: 8.5% 15% 2% 15%;
}

header div h1 {
    padding-top: 5%;
}

header div p {
    padding-bottom: 5%;
}

main {
    margin: 0 10% 0 10%;
    background-color: #2f4858;
    padding: 1% 4% 4% 4%;
    color: white;
}

.boxshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 15px;
    padding: 2%;
    background-color: white;
    color: black;
}

footer {
    margin: 0 10% 0px 10%;
    background-color: #2f4858;
    padding: 1% 4% 4% 4%;
    color: white;
    text-align: center;
}

footer h2 {
    text-align: center;
}

.center {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3%;
    width: 7%;
    background-color: white;
    margin: 0 2% 0 2%;
} 