/*
font-family: 'Dosis', sans-serif;
font-family: 'Glegoo', serif;
font-family: 'Work Sans', sans-serif;
*/

/*
---- Color Palette ----
Apple White - #FAFAFA

*/

/* Document Properties */

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
    background-color: #FAFAFA;
    background-image: url("../media/waves_bg.jpg");
    background-size: 100%;
    font-family: 'Dosis', serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}



/* Navigation Properties */
nav ul {
    list-style-type: none;
    padding: 50px;
    float: right;
}

nav ul li {
    display: inline-block;
}

nav a {
    color: #FAFAFA;
    text-decoration: none;
}